/* Reset Part */
a {
    text-decoration: none;
    color: rgb(0, 75, 255);
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Manrope';
}

/* Fonts */
@font-face {
    font-family: 'Manrope';
    src: url(../fonts/Manrope-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Nunito Regular';
    src: url(../fonts/Nunito-Regular.ttf);
}
